@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mat-drawer-container {
    height: 100vh;
    background-color: #eaf0f2;
}

.container-middle{
    margin-top: 25vh;
}

.avatar {
    border-radius: 100px !important;
}