.kural {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.kural-item {
    margin: 20px;
    height: max-content;
}

.meaning-text {
    white-space: normal;
    text-align: left;

}
.kural-div {
    height: max-content;
}

.spacer {
    flex: 1 1 auto;
}

  .pal {
    margin: 10px !important;
    border-radius: 10px;
    width: max-content;
    height: 3rem;
    font-size: x-large;
    font-weight: bold;
}
.pals {
    border: 0;
}

.pal-container{
    padding: 0;
}

.play{
    border-radius: 5px;
    text-align: left;
}

.play:hover {
    background-color: rgba(128, 128, 128, 0.308);
}

.word {
    margin: 3px;
    cursor: pointer;
}

.word-not {
    margin: 2px;
    cursor: text;
    text-decoration: none;
}
