.kural {
    font-weight: bold;
    font-size: 14px;
    width: 5rem;
}

.kural-item {
    margin: 20px;
    height: max-content;
}

.meaning-text {
    white-space: normal;
}
.kural-btn {
    height: max-content;
}

.spacer {
    flex: 1 1 auto;
  }.kural-container {
    width: 600px;
}

  @media (max-width: 760px) {
    .kural-container {
        width: 200px;
    }
  }

  .pal {
    margin: 10px !important;
    border-radius: 10px;
    width: max-content;
    height: 3rem;
    font-size: x-large;
    font-weight: bold;
}
.pals {
    border: 0;
}

.pal-container{
    padding: 0;
}
