<div class="container">
  <div class="row justify-content-center text-center m-2">
    <div class="col-xl-6">
      <div class="row justify-content-center text-center">
        <div class="col-md-4 pal-container" *ngFor="let p of dataService.pal">
          <button
            mat-button
            color="primary"
            class="pal"
            (click)="dataService.selectedIyl(p.id)"
          >
            {{ p.name }}
          </button>
        </div>
        <div class="col-md-4 pal-container">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <hr />
      <mat-form-field appearance="outline">
        <mat-label
          ><strong>{{ dataService.labels.iyal }}</strong></mat-label
        >
        <mat-select
          [(value)]="dataService.selectedIyal"
          (selectionChange)="dataService.selectedAthikaram()"
        >
          <mat-option *ngFor="let iyal of dataService.iyals" [value]="iyal">{{
            iyal
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <mat-form-field appearance="outline">
        <mat-label
          ><strong>{{ dataService.labels.athikaramName }}</strong></mat-label
        >
        <mat-select
          [(value)]="dataService.athikaram"
          (selectionChange)="dataService.selectedKurals(dataService.athikaram)"
        >
          <mat-option
            *ngFor="let athikaram of dataService.athikarams"
            [value]="athikaram"
            >{{ athikaram }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="breadcrumb">
        {{ dataService.selectedPal }} > {{ dataService.selectedIyal }} >
        {{ dataService.athikaram }}
      </label>

      <mat-list role="list">
        <mat-list-item
          class="kural-item"
          role="listitem"
          *ngFor="let kural of dataService.kurals; let i = index"
        >
          <div class="row justify-content-center text-center">
            <div class="col">
              <p class="kural-id">{{ kural.id }}</p>
            </div>

            <div class="col-md-6">
              <p class="kural">
                <a
                  *ngFor="let word of splitWords(kural.l1)"
                  class="kuralpal-primary"
                  [ngClass]="{
                    word: dataService.langExtension === '',
                    'word-not': dataService.langExtension != ''
                  }"
                  (click)="playWords(word)"
                  >{{ word }}</a
                ><br /><a
                  *ngFor="let word of splitWords(kural.l2)"
                  class="kuralpal-primary m-2"
                  [ngClass]="{
                    word: dataService.langExtension === '',
                    'word-not': dataService.langExtension != ''
                  }"
                  (click)="playWords(word)"
                  >{{ word }}</a
                >
              </p>
              <audio
                *ngIf="dataService.langExtension === ''"
                [id]="kural.id"
                [src]="'assets/mp3/' + kural.id + '.mp3'"
              ></audio>
            </div>
            <div class="col">
              <mat-icon (click)="playKural(kural)" class="play kuralpal-primary"
                >volume_up</mat-icon
              >
            </div>
            <div class="col-md-5">
              <p class="meaning-text">{{ dataService.trans[i]?.meaning }}</p>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
